.env
db-init/
db-init-postgres/
mi_data_postgres/
# Node modules
node_modules/

# pnpm files
.pnpm/
.pnpm-store/

# pnpm workspace state
.pnpm-workspace-state-v1.json

# lock files inside pnpm
.pnpm/lock.yaml
mongo
