services:

  db-employee:
    image: postgres:18
    restart: unless-stopped
    env_file:
      - dataE.env
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - ${POSTGRES_PORT_EXPOSE}:${POSTGRES_PORT_DOCKER}
    volumes:
      - ${POSTGRES_VOLUMEN_DATA_SAVE}

  db-department:
    image: mysql:9.6.0
    restart: unless-stopped
    env_file:
      - dataD.env
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    ports:
      - ${MYSQL_PORT_EXPOSE}:${MYSQL_PORT}
    volumes:
      - ${VOLUMES_DB_SAVE}
      - ${VOLUME_CREATE_DATABASES} 
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 5s
      retries: 5

  service-departments:
    depends_on:
      db: 
        condition: service_healthy
    build: ./department_backend/
    env_file:
    - dataD.env
    restart: on-failure
    ports:
      - ${PORT_EXPOSE_SERVICE_DEPARTMENTS}:${PORT_DOCKER}
    environment:
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_DBNET: ${MYSQL_DBNET}
      PORT_LISTEN: ${PORT_DOCKER}
      MYSQL_DBADDR: db-department:${MYSQL_PORT}
      MYSQL_DATABASE: ${MYSQL_DATABASE}


  service-employees:
    env_file:
      - employee.env


volumes:
  postgres-data:
  mysql-data:
  
