services:

  db-e:
    image: postgres:18
    restart: unless-stopped
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - ${POSTGRES_PORT_EXPOSE}:${POSTGRES_PORT_DOCKER}
    volumes:
      - ${POSTGRES_VOLUMEN_DATA_SAVE}
      - ${POSTGRES_VOLUMEN_DATABASE}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 5

  db-d:
    image: mysql:9.6.0
    restart: unless-stopped
    env_file:
      - .env
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    ports:
      - ${MYSQL_PORT_EXPOSE}:${MYSQL_PORT}
    volumes:
      - ${VOLUMES_DB_SAVE}
      - ${VOLUME_CREATE_DATABASES} 
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 5s
      retries: 5

  service-departments:
    depends_on:
      db-d: 
        condition: service_healthy
    build: ./department_backend/
    env_file:
    - .env
    restart: on-failure
    ports:
      - ${PORT_EXPOSE_SERVICE_DEPARTMENTS}:${PORT_DOCKER}
    environment:
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_DBNET: ${MYSQL_DBNET}
      PORT_LISTEN: ${PORT_DOCKER}
      MYSQL_DBADDR: db-d:${MYSQL_PORT}
      MYSQL_DATABASE: ${MYSQL_DATABASE}

  service-employees:
    depends_on:
      db-e: 
        condition: service_healthy
    build: ./employee-backend/
    env_file:
      - .env
    restart: on-failure
    ports:
      - ${PORT_SE_EXPOSE}:${PORT_SE_DOCKER}
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      SERVER_DRIVE: ${SERVER_DRIVE}
      DDL_AUTO: ${DDL_AUTO}
      HIBERNATE_DIALECT: ${HIBERNATE_DIALECT}
      DB_URI: db-e
      PORT: ${POSTGRES_PORT_DOCKER}
      NAME_DATABASE: ${POSTGRES_DB}
      URI_SERVICE_D: http://service-departments:${PORT_DOCKER}


volumes:
  postgres-data:
  mysql-data:
  
