spring:
  application:
    name: employee_microservice
  datasource:
    url: 
    username: 
    password: 
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

cors:
  hostOne: ${ORIGINONE}
  hostTwo: ${ORIGINTWO}
  hostThree: ${ORIGINTHREE}
